<div class="animsition"> 
  <%= render partial: '/welcome/navbar' %>

<div class="container-fluid" >
  <div class="row">
     
    <div class="col-sm-6" >
      <div style="margin-top: 1em; margin-left: 0px; padding-left: 0px;">
       <%= render partial: '/welcome/tiledMenu'%>
      </div> 

        <div class="col-sm-6" style="border-left: 1.5px solid; border-color: grey; margin-top: 5em;" >
            <div class="profile" >
               <h1 style="color: black;" >Thank You For Your Payment of: $2,647.48</h1>
               <h4 style="color: black;" >Submitted on: <%= Time.now.strftime("%b %d, %Y") %> </h4><br>
                  
               <h5> User: <%= @user.name %> </h5>
               <h5> Email: <%= @user.email %> </h5>
               <h5> Account Type: <%= @user.role %> </h5>
               <h5> Apt. Unit: <%= @user.id %>B </h5>
               <br>
               <h5> Mortgage Payment (Maybank accout: ***3856): $0.00 </h5>
               <h5> Electricity (TNB account ****4758): $0.00  </h5>
               <h5> Water Bill (SYABAS account ****9936): $0.00  </h5>
               <h5> Internet (TM account ****3956): $0.00  </h5><br>
               <h5> Total: $0.00</h5> <br>

               <h5> Payment Information </h5>
               <h5> Card Type: Visa </h5>
               <h5> Last 4 digits ending in: ************2654 </h5>
               <h5> Expiration: 10/2019 </h5>
               <%= link_to "Update Profile or Payment Options", edit_user_path(@user.id) %>
            </div>
          </div>
      </div>
    </div>
  </div> <!-- end of row   -->  
</div> <!-- end of container   --> 

<%= render partial: '/welcome/footer' %>

