<div class="animsition"> 
  <%= render partial: '/welcome/navbar' %>

<div class="container-fluid" >
  <div class="row">
     
    <div class="col-sm-6" >
      <div style="margin-top: 1em; margin-left: 0px; padding-left: 0px;">
       <%= render partial: '/welcome/tiledMenu'%>
      </div> 

        <div class="col-sm-5" style="border-left: 1.5px solid; border-color: grey; margin-top: 5em;" >

		<div style="color: black; font-family: 'Roboto', sans-serif;font-weight: 300; text-align: center; font-size: 1.5em;">Visitor Log</div>
		
		<% if !(@user.visitors.first.nil?) %>
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Visitor Name</th>
			      <th scope="col">Date of Visit</th>
			      <th scope="col">Arrival Time</th>
			      <th scope="col">Car Plate</th>
			    </tr>
			  </thead>
			  <tbody>
				<% @user.visitors.each_with_index do |visitor, i| %>
				    <tr>
				      <th scope="row"><%= i+1 %></th>
				      <td><%= visitor.name %></td>
				      <td><%= visitor.visit_day %></td>
				      <td><%= visitor.arrival_time.strftime("%H:%M") %></td>
				      <td><%= visitor.car_plate %></td>
				    </tr>
				<% end %>
			  </tbody>
			</table>
		<% else %>
			<div style="text-align: center;">You do not have any registered visitors.</div>
		<% end %>
		
		<div style="text-align: center; padding-top: 100px;">
		<%= button_to "Register a visitor", new_user_visitor_path(@user), class: "btn btn-danger", method: :get %></div>

		</div>
	  </div>
	</div>
</div>
</div>

<%= render partial: '/welcome/footer' %>