<div class="animsition"> 

<div class="container-fluid" >
  <div class="row">
     
    <div class="col-sm-6" >
      <div style="margin-top: 1em; margin-left: 0px; padding-left: 0px;">
       <%= render partial: '/welcome/tiledMenu'%>
      </div> 

        <div class="col-sm-6" style="border-left: 1.5px solid; border-color: grey; margin-top: 5em;" >
            <div class="profile" >
               <h1 style="color: black;" >Your Profile</h1>
                  <% if @user.avatar  %>
                    <%= image_tag @user.avatar.thumb.to_s, class:"img-responsive", :style => "width: 25%; height: 25%;" %>  
                  <% else %>
                    <img src="https://www.sparklabs.com/forum/styles/comboot/theme/images/default_avatar.jpg" id="default_avatar" width="300" height="300" >
                  <% end %> 

                  <%= form_for @user, html: { multipart: true } do |form| %>
                  
                    <%= form.label :name %>
                    <%= form.text_field :name, :class => "form-control" %>
                    
                    <%= form.label :email %>
                    <%= form.text_field :email, type: 'email', :class => "form-control" %>

                    <%= form.label :avatar %>
                    <%= form.file_field :avatar, :class => "form-control"%><br>

                    <%= form.submit "Save changes", :class => "btn btn-danger" %>
                  <% end %>
              
            </div>
          </div>
      </div>
    </div>
  </div> <!-- end of row   -->  
</div> <!-- end of container   --> 

<%= render partial: '/welcome/footer' %>
<h1>Edit Your Profile</h1>




