<h1>facilites#index</h1>

<div>

	<%= form_for @reservation do |f| %>
		<%= f.label :select_facility %> 
		<%= select_tag "facility", options_from_collection_for_select(@facility, "id", "name"), prompt: 'Select Facility' %><br>

		<%= f.label :date_and_time %>
		<div class="container">
		    <div class="row">
		        <div class='col-sm-4'>
		            <div class="form-group">
		                <div class='input-group date' id='datetimepicker1'>
		                    <input type='text' class="form-control" />
		                    <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
		                </div>
		            </div>
		        </div>
		        <script type="text/javascript">
		            $(function () {
		                $('#datetimepicker1').datetimepicker();
		            });
		        </script>
		    </div>
		</div>

		<%= f.submit "Submit Reservation" %>
	<% end %>

</div>