<% if signed_in? %>
<!-- @first_city = get_weather("1733046") -->

<% options = { units: "metric", APPID: "38aaf3427dcedb9b9e8f77f9a15ad0ea" } %>
<% weatherall = OpenWeather::Current.city_id("1733046", options) %>
<% @city = weatherall ['name' ] %>
<% wind = weatherall ['wind' ] %>
<% @speed = wind ['speed' ] %>
<% sky = weatherall ['weather']%>
<% @cloudtype = weatherall['weather'][0]['description'] %>
<% temp = weatherall['main']%>
<% @celsius = temp['temp']%>

<% s_option = { units: "metric", APPID: "38aaf3427dcedb9b9e8f77f9a15ad0ea" } %>
<% s_weatherall = OpenWeather::Current.city_id("1880251", s_option) %>
<% @s_city = s_weatherall ['name' ] %>
<% s_wind = s_weatherall ['wind' ] %>
<% @s_speed = s_wind ['speed' ] %>
<% s_sky = s_weatherall ['weather']%>
<% @s_cloudtype = s_sky[0]['description']%>
<% s_temp = s_weatherall['main']%>
<% @s_celsius = s_temp['temp']%>

<% if Time.now.hour > 19 %>
  <% @background = "https://marinis57.com/bymarinis/wp-content/uploads/2015/10/kuala-lumpur-skyline-wallpaper-4.jpg" %>
<% elsif Time.now.hour < 6 %>
  <% @background = "https://marinis57.com/bymarinis/wp-content/uploads/2015/10/kuala-lumpur-skyline-wallpaper-4.jpg" %>
<% else  %>
  <% @background = "http://www.globalblue.com/destinations/malaysia/article434453.ece/BINARY/kuala_lumpur_skyline.jpg" %>
<% end %>

<% if Time.now.hour > 19 %>
  <% @s_background = "https://media.istockphoto.com/photos/singapore-city-skyline-at-night-picture-id149258651?k=6&m=149258651&s=612x612&w=0&h=cu75Zw44lNZY5PpTJZlsTtScS_HxZrGVNMaydz3R1NI=" %>
<% elsif Time.now.hour < 6 %>
  <% @s_background = "https://media.istockphoto.com/photos/singapore-city-skyline-at-night-picture-id149258651?k=6&m=149258651&s=612x612&w=0&h=cu75Zw44lNZY5PpTJZlsTtScS_HxZrGVNMaydz3R1NI=" %>
<% else  %>
  <% @s_background = "https://education.kilroy.net/media/5107735/curtin-singapore-skyline.jpg" %>
<% end %>

<% url = "https://newsapi.org/v2/top-headlines?"\
      "sources=bbc-news&"\
      "apiKey=#{ENV["NEWS_API_KEY"]}" %>
<% req = open(url) %>
<% response_body = open(url).read %>
<% json_data = JSON.load(response_body) %>
<% articles = json_data["articles"] %>

<div class="container dynamicTile" style="width: 530px;">
          
          <div class="row ">
              <div class=" col-xs-4">
                <div id="tile1" class="tile">
                  <%= link_to braintree_new_path, :class => "animsition-link" do %> 
                   <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                         <img src="https://openclipart.org/image/2400px/svg_to_png/204749/Found-Icons-in-HK-4-2014111931.png" class="img-responsive"/>
                      </div>
                      <div class="item">
                        <h3 class="tilecaption" style="font-family: 'Roboto', sans-serif;">View Current Bill</h3>
                      </div>
                    </div>
                  </div>
                 <% end %>  
                </div>
            </div>
            <div class=" col-xs-4">
              <div id="tile2" class="tile">
                    <%= link_to user_conversations_path(@user.id), :class => "animsition-link" do %> 
                   <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <img src="http://www.pvhc.net/img27/lffocbnkqsfbmwwoatal.png" class="img-responsive"/>
                      </div>
                      <div class="item">
                        <h3 class="tilecaption" style="font-family: 'Roboto', sans-serif;">Chat With Management</h3>
                      </div>
                    </div>
                  </div>
                    <% end %>  
              </div>
            </div>
            <div class=" col-xs-4">
              <%= link_to "https://weather.com/weather/today/l/MYXX0008:1:MY", :class => "animsition-link" do %> 
              <div id="tile3" class="tile" style="background-image: url(<%=@background%>); background-size: cover;">
                 
                  <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                         <img src="https://cbsnewyork.files.wordpress.com/2016/12/category_weather_500x500.png?w=310&h=310&crop=1"/>
                      </div>

                      <div class="item" style="">
                         <h3 style="color: white; padding-left: .25em; font-weight: 300; font-family: 'Roboto', sans-serif;"> <%= @city %></h3><h4 style="color: white; padding-left: .75em; font-weight: 400; font-family: 'Roboto', sans-serif;">currently:</h4><h4 style="color: white; padding-left: .75em; font-weight: 400;  font-family: 'Roboto', sans-serif;"> temp: <%= @celsius %>° <br><%= @cloudtype %> <br>wind speed: <%= @speed%></h4> 
                      </div>

                      <div class="item" >
                      <!--   <div class="container-fluid"> -->
                          <img style="height:100%" src="<%=@s_background%>"/>
                            <div style="top: .1em; position: absolute;">
                             <h3 style="color: white; padding-left: .25em; font-weight: 300; font-family: 'Roboto', sans-serif;"> Singapore</h3><h4 style="color: white; padding-left: .75em; font-weight: 400; font-family: 'Roboto', sans-serif;">currently:</h4><h5 style="color: white; padding-left: .75em; font-weight: 400;  font-family: 'Roboto', sans-serif;"> temp: <%= @s_celsius %>° <br><%= @s_cloudtype %> <br>wind speed: <%= @s_speed%></h5> 
                           </div>
                         <!--  </div>  -->
                      </div>
                    </div> 

                   </div>
                    <% end %>  
              </div>
            </div>
            <div class=" col-xs-4">
              <div id="tile4" class="tile">
                <%= link_to maintenances_path, :class => "animsition-link" do %>  
                  <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <img src="https://png.icons8.com/metro/540/maintenance.png"/>
                      </div>
                      <div class="item">
                        <h3 class="tilecaption" style="font-family: 'Roboto', sans-serif;">Maintenance Request</h3>
                      </div>
                    </div>
                  </div>
                <% end %>  
              </div>
            </div>



              <div class=" col-xs-4">
                <div id="tile5" class="tile">
                  <%= link_to "http://edition.cnn.com/", :class => "animsition-link" do %> 
                   <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                          <img src="http://handsontek.net/demoimages/tiles/neews.png" class="img-responsive"/>
                        </div>
                        <% articles[0..2].each do |article| %>
                        <div class="item">
                          <img style="height:80%" src=<%= article["urlToImage"] %> class="img-responsive"/>
                           <div style="top: .1em; position: absolute;">
                            <h6 style="color: white; padding-left: .75em; margin-top: 11.25em; font-weight: 400;  font-family: 'Roboto', sans-serif;"><%= article["title"] %></h6> 
                           </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <% end %>
              </div>
            </div>

            <div class=" col-xs-4">
              <div id="tile6" class="tile">
                 <%= link_to facilities_path, :class => "animsition-link" do %> 
                   <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides asdfsf-->
                    <div class="carousel-inner">
                      <div class="item active">
                     
                        <img src="http://www.pvhc.net/img46/fsvxlzqocyhmrblzvehl.png" class="img-responsive"/> 
                         <!-- <img src="http://www.pvhc.net/img46/fsvxlzqocyhmrblzvehl.png" class="img-responsive"/> -->
                      </div>
                      <div class="item">
                        <h3 class="tilecaption" style="font-family: 'Roboto', sans-serif;">Reserve a Space!</h3>
                      </div>
                    </div>
                  </div>
                   
              </div>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class=" col-xs-8">
              <div id="tile7" class="tile">
                 
                  <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <img src="http://www.investkl.gov.my/assets/contentMS/img/template/skyline1_1.jpg" class="img-responsive"/>
                      </div>
                      <div class="item">
                        <img src="http://pix10.agoda.net/hotelImages/551/551884/551884_16101208540047644127.jpg?s=1024x768"/>
                      </div>
                      <div class="item">
                        <img src="http://uoa.com.my/facebook/waterfall-header.jpg"/>
                      </div>
                    </div>
                  </div>
                   
              </div>
            </div>
            <div class=" col-xs-4">
              <div id="tile8" class="tile">
                 <%= link_to user_visitors_path(@user.id), :class => "animsition-link" do %>
                  <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                         <img src="https://cdn.onlinewebfonts.com/svg/img_24162.png" height= "90%" width="90%" style="margin-top: 1.5em; margin-left: .6em;"/>
                      </div>
                     <div class="item">
                        <h3 class="tilecaption" style="font-family: 'Roboto', sans-serif;">Schedule a Guest</h3>
                      </div>
                      </div>
                   </div>
                <% end %>   
              </div>
            </div>
            <div class=" col-xs-4">
              <div id="tile9" class="tile">
                 
                    <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <h3 class="tilecaption" style="font-family: 'Roboto', sans-serif;"><%= Time.now.strftime("%I:%M") %></h3>
                      </div>
                      <div class="item">
                        <h3 class="tilecaption" style="font-family: 'Roboto', sans-serif;"><%= Time.now.strftime("%b %d, %Y") %></h3>
                      </div>
                    </div>
                  </div>
                   
              </div>
            </div>
            <div class=" col-xs-8">
             <%= link_to user_path(current_user), :class => "animsition-link" do %> 
              <div id="tile10" class="tile">
                 
                     <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <h3 class="tilecaption"><i class="fa fa-child fa-4x"></i></h3>
                      </div>
                      <div class="item">
                        <h3 class="tilecaption" style="font-family: 'Roboto', sans-serif;">User Profile</h3>
                      </div>          
                    </div>
                  </div>        
              </div>
              <% end %> 
            </div>  
          </div> 
        </div>  
    </div> <!-- end of carousel  --> 

<% end %>
