
  <%= render partial: '/welcome/navbar' %>
<div class="container" style="font-family: 'Roboto', sans-serif;">
  <div class="row">
     <div class="col-sm-5 col-md-offset-1" >
        <div class="features"  style="margin-top: 7em;">
           <h1 style="color: black; font-weight: 300; text-align: center">Features</h1><br>
           <div style="color: black; font-weight: 300; font-size: 1.25em;">
            <ul>
            </ul>
              <li>Easy electronic payment of all bills (including utilities)</li>
              <li>Electronic record of all past payments</li>
              <li>Live chat with management</li>
              <li>Reservation of activity spaces</li>
              <li>Scheduling of vistors</li>
              <li>Report maintenance issues</li>
              <li>Further and customizable integration with developers </li>
            </ul>
          </div>
            <% unless signed_in? %>
          <%= render partial: '/welcome/sign_up'%>
          <div class="col-md-8 col-md-offset-2">
          <button href="/auth/facebook", class="loginBtn loginBtn--facebook">Facebook</button>
          <button href="/auth/google_oauth2", class="loginBtn loginBtn--google" style="letter-spacing: .04em;">Google+ </button>
        </div>
        <% end %> 
          </div>
      </div>
    <div class="col-sm-5" >
      <div style="margin-top: 5em;">
        <% if signed_in? %>
          <%= render partial: '/welcome/tiledMenu'%>
        <% else %> 
          <%= render partial: '/welcome/dummyTiledMenu'%>
          <% end %>  
      </div> 
    </div>

<%= render partial: '/welcome/footer' %>

<script>

  
$( document ).ready(function(){
    $(".tile").height($("#tile1").width());
    $(".carousel").height($("#tile1").width());
    $(".item").height($("#tile1").width());
     
    $(window).resize(function() {
    if(this.resizeTO) clearTimeout(this.resizeTO);
    this.resizeTO = setTimeout(function() {
      console.log("yotimedout")
      $(this).trigger('resizeEnd');
    }, 10);
    });
    
    $(window).bind('resizeEnd', function() {
      $(".tile").height($("#tile1").width());
        $(".carousel").height($("#tile1").width());
        $(".item").height($("#tile1").width());
    });
});

$(document).ready(function() {
  $(".animsition").animsition({
    inClass: 'flip-in-y-nr',
    outClass: 'flip-out-y-nr',
    inDuration: 1500,
    outDuration: 800,
    linkElement: '.animsition-link',
    // e.g. linkElement: 'a:not([target="_blank"]):not([href^="#"])'
    loading: true,
    loadingParentElement: 'body', //animsition wrapper element
    loadingClass: 'animsition-loading',
    loadingInner: '', // e.g '<img src="loading.svg" />'
    timeout: false,
    timeoutCountdown: 5000,
    onLoadEvent: true,
    browser: [ 'animation-duration', '-webkit-animation-duration'],
    // "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
    // The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
    overlay : false,
    overlayClass : 'animsition-overlay-slide',
    overlayParentElement : 'body',
    transition: function(url){ window.location.href = url; }
  });
});


</script>
