
<audio autoplay> 
  <source src="http://cordo.free.fr/spf/Sons/DeskBell.wav">
</audio>

<div class="animsition"> 
<div class="homescreen">

  <%= render partial: '/welcome/navbar' %>

  <div class="frontpage">
    
     <div class="downArrow bounce" id="arrow">    <!-- bouncing arrow -->
      <img width="40" height="40" alt="" src="http://comingjuly2017.isclubhouseforme.com/wp-content/uploads/2017/06/scroll-arrow.png" />
    </div> <!-- end of bouncing arrow -->

  </div>   <!-- end of homescreen  -->
</div>     <!-- end of front page -->

<div class="container">
  <div class="row" id="about" >
    <div class="col-sm-4 col-md-offset-1"  >
      <div style="margin-top:  10em;">
        <h1 style="font-color: black; font-weight: 300; text-align: center" >About Us</h1><br>
          <div style="color: black; font-weight: 300; font-size: 1.2em;">
            For property managers and building owners, the logistics involved in managing a builidng of several hundred residents can be quite daunting. Here at Front Desk, we provide you a centralized platform, integrating every departmental operation, and providing a streamlined product that will automate nearly every process involved in managing building operations, including; monthly financial reconciliation, scheduling maintenance, reservation of spaces and direct communication between management and resident. <h5></h5>
          </div> 
      </div>
     </div> 
    <div class="col-sm-2 ">
    </div>
    <div class="col-sm-4 ">
      <a href="#computer"><img src="https://i.imgur.com/f9cv8ey.png" id="iphone"/></a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-7">
      <img src="https://i.imgur.com/vaVpbtE.jpg" id="computer"/>
    </div> 

    <div class="col-sm-5" >
      <div id="whyuseus">
      <h1 style="font-color: black; font-weight: 300; text-align: center" >Why Use Us</h1><br>
          <div style="color: black; font-weight: 300; font-size: 1em; ">
            Our goal is for Front Desk to become the standard interface when it comes to managing apartment complexes. By employing our program, your are able to improve operational efficiency, reduce labor costs, centralize all communication records, and deliver an overall increase in value to each and every tenant. The best part of all, our app is available free of charge and comes backed by a professional team of experienced web developers. 
        </div>
      </div>
     </div> 
  </div>     
</div>  



<div class="container" style="font-family: 'Roboto', sans-serif;">
  <div class="row">
     <div class="col-sm-5"  >
        <div class="features" >
           <h1 style="color: black; font-weight: 300; text-align: center">Features</h1><br>
           <div style="color: black; font-weight: 300; font-size: 1.25em;">
            <ul>
            </ul>
              <li>Easy electronic payment of all bills (including utilities)</li>
              <li>Electronic record of all past payments</li>
              <li>Live chat with management</li>
              <li>Reservation of activity spaces</li>
              <li>Scheduling of vistors</li>
              <li>Report maintenance issues</li>
              <li>Further and customizable integration with developers </li>
            </ul>
          </div>
            <% unless signed_in? %>
          <%= render partial: '/welcome/sign_up'%>
          <div class="col-md-8 col-md-offset-2" id="signup">
          <button href="/auth/facebook", class="loginBtn loginBtn--facebook">Facebook</button>
          <button href="/auth/google_oauth2", class="loginBtn loginBtn--google" style="letter-spacing: .04em;">Google+ </button>
        </div>
        <% end %> 
          </div>
      </div>
      <div class="col-sm-1">
      </div>
    <div class="col-sm-5" >
      <div style="margin-top: 20em;">
        <% if signed_in? %>
          <%= render partial: '/welcome/tiledMenu'%>
        <% else %> 
          <%= render partial: '/welcome/dummyTiledMenu'%>
          <% end %>  
      </div> 
    </div>

<%= render partial: '/welcome/footer' %>



