<div class="animsition"> 
  <%= render partial: '/welcome/navbar' %>

<div class="container-fluid" >
  <div class="row">
     
    <div class="col-sm-6" >
      <div style="margin-top: 1em; margin-left: 0px; padding-left: 0px;">
       <%= render partial: '/welcome/tiledMenu'%>
      </div> 

        <div class="col-sm-5" style="border-left: 1.5px solid; border-color: grey; margin-top: 5em;" >

		<div style="color: black; font-family: 'Roboto', sans-serif;font-weight: 300; text-align: center; font-size: 1.5em;">Maintenance Request Log</div>
		
		<% if !(@user.maintenances.first.nil?) %>
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Title</th>
			      <th scope="col">Description</th>
			      <th scope="col">Job Status</th>
			    </tr>
			  </thead>
			  <tbody>
				<% @user.maintenances.each_with_index do |request, i| %>
				    <tr>
				      <th scope="row"><%= i+1 %></th>
				      <td><%= request.title %></td>
				      <td><%= request.description %></td>
				      <td><%= request.status.capitalize %></td>
				    </tr>
				<% end %>
			  </tbody>
			</table>
		<% else %>
			<div style="text-align: center;">You do not have any maintenance requests.</div>
		<% end %>
		
		<div style="text-align: center; padding-top: 100px;">
		<%= button_to "New maintenance request", new_maintenance_path, class: "btn btn-danger", method: :get %></div>

		</div>
	  </div>
	</div>
</div>
</div>

<%= render partial: '/welcome/footer' %>